body {
    background: #F8F6F4;
}

#root {
    margin: 0 auto;
    text-align: center;
    border: solid 2px black;
    background: #E3F4F4;
}

button {
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}